@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/img/website-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
